---
layout: default
profile: true
---

<div class="columns is-multiline is-centered">
  {% for project in site.data.projects %}
      <div class="column is-half">
        <h1>{{ project.title }}</h1>
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src={{ project.data-src }}>
        <div class="content">
          {{ project.content }}
        </div>
        <span class="skills">
          {% for skill in project.skills %}
            <span class="skill tag">{{ skill }}</span>
          {% endfor %}
        </span>
      </div>
  {% endfor %}
</div>