<div class="mobile-navigation">
  <h1>{{site.author}}</h1>
  <p>{{site.description}}</p>
  <div class="menu-items">
    <!-- <a href="/about" class='menu-item {% if page.url == "/projects/" %}selected{% endif %}'> About </a> -->
    <a href="/" class='menu-item {% if page.url == "/" %}selected{% endif %}'> Projects </a>
    <a href="/posts" class='menu-item {% if page.url == "/posts/" %}selected{% endif %}'> Blog </a>

    <a href="http://www.github.com/causztic" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/limyaojie" target="_blank">LinkedIn</a>
  </div>
</div>