@import "variables"

nav
  &.main-nav
    background-color: white
    border-bottom: 1px solid $light-gray
    height: 2rem
    width: 100%
    text-align: right
    padding-right: 2rem
    padding-left: 2rem