@import "variables"

nav
  &.main-nav
    background-color: white
    border-bottom: 1px solid $light-gray
    height: 2rem
    width: 100%
    text-align: center
    @media screen and (min-width: 768px)
      text-align: left
    padding-right: 2rem
    padding-left: 2rem
    a:after
      content: "|"
      color: $light-gray
    a:last-child:after
      content: ""