@import "variables"

ul.posts
  .title
    display: inline-block
    min-height: 2rem
    font-size: 2em
    color: $pink
    &:hover
      color: $gray
      cursor: pointer
    &.untitled:after
      text-transform: uppercase
      content: "untitled"
      color: lighten($pink, 20%)
  .date
    margin-bottom: 1em
    color: $gray

ul.posts .content, article.post .content
  margin-bottom: 2rem
  ul > li > ul
    font-weight: lighter
  ul
    list-style-type: disc
    margin-bottom: 0.5rem
    li
      margin-left: 1em
  a
    color: $pink
  p
    width: 100%

article.post
  margin-top: 2rem
  header
    h1
      font-size: 2.5em
    h2
      font-size: 1.5em