---
---
@import "milligram/milligram"

@import "variables"

@import "navigation"
@import "profile"
@import "posts"
@import "tags"
@import "content"

.left
  float: left
.right
  float: right

html
  h1,h2,h3,h4,h5,h6
    font-weight: normal
    color: $pink
    &.subheader
      font-weight: normal
  body
    font-weight: 400
    width: 100vw
    overflow-x: hidden
    .container
      overflow-x: hidden
      @media (min-width: 40.0rem)
        overflow-x: initial
  img
    max-height: 300px
    @media (min-width: 40.0rem)
      max-height: 400px
    height: auto
    width: auto
  a
    word-wrap: break-word
    &.selected
      font-weight: bold
    color: $green
    &:hover
      color: $dark-green
  footer
    p
      margin-bottom: 2rem
      &.small
        display: inline-block
        font-size: 0.75em
      &.light
        font-weight: light
        color: $light-gray

  i.image-caption
    display: block
    font-size: 0.75em
    text-align: center
    width: 100%
    margin: 1em 0 2em 0

  .horizontal-gallery
    display: flex
    overflow: auto
    margin: 1em calc(75% - 75vw)
    &.fixed
      img
        max-height: 200px

  .content
    figure
      text-align: left

  h1
    font-weight: bolder

  .mini-project
    margin-bottom: 2em

  .icon
    width: 48px
    height: 48px