---
---

@import "variables"
@import "projects"
@import "footer"
@import "navigation"
@import "posts"

*
  box-sizing: border-box

html, body
  max-width: 100%
  font-family: $text-font-family
  color: Black

a
  text-decoration: none
  color: LightCoral
  &.selected
    color: saturate(LightCoral, 35%)
    font-weight: bold

h1, h2, h3, h4, h5, h6
  font-family: $header-font-family
  font-weight: 700

.container
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  padding: 2rem
  @media only screen and (min-width: 480px)
    width: 980px
    margin: auto
    font-size: 1.25rem

ul, ol, li, p
  line-height: 1.5rem
  @media only screen and (min-width: 480px)
    line-height: 2rem

.tags
  font-size: 0.75rem
  margin-top: 1rem
  .tag
    padding: 0.5rem
    background-color: Linen

iframe
  width: 100%
  height: 300px
  @media only screen and (min-width: 480px)
    height: 600px