<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

  {% include navigation.html %}


  <article class="post">
    <header>
      <h1>{{ page.title }}</h1>
      <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section class="content">
      {{content}}
    </section>
  </article>

  <!-- Archive post list -->
  {% if page.archive %}
  <ul id="post-list" class="archive readmore">
    <h3>Read more</h3>
    {% for post in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

{% include footer.html %}
</body>
</html>



